 <!-- Sección del footer -->

  <footer class="pie">
      <!-- Datos de contacto -->
      <div>
        <p class="contenedor-navegador-footer">
          <i class="fa fa-phone-alt"></i> Teléfono:(123) 456-7890
        </p>
        <p class="contenedor-navegador-footer">
          <i class="fa fa-envelope"></i>
          <a href="mailto:info@mimascota.com?subject=Consulta%de%servicio"
            >info@veterinarialocky.com</a
          >
        </p>
        <p class="contenedor-navegador-footer">
          <i class="fa fa-location-arrow"></i>
          <a
            href="https://www.google.com/maps/place/Buenos+Aires,+CABA/@-34.6158238,-58.4332985,12z/data=!3m1!4b1!4m6!3m5!1s0x95bcca3b4ef90cbd:0xa0b3812e88e88e87!8m2!3d-34.6036844!4d-58.3815591!16zL20vMDFseTVt?entry=ttu"
            target="_blank"
            onclick="window.open(this.href); return false;"
          >
            Donde encontrarnos</a
          >
        </p>
      </div>
      <!-- Redes sociales -->
      <div>
        <p class="contenedor-navegador-footer">
          Seguinos en:
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          |
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          |
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
      </div>
    </footer>
  </div>

  </script>